.design-boxes {
  width: 25%;
}

.design-logo {
  position: absolute;
  top: 10%;
  left: 2%;
  width:17%
}

#box1 {
  position: absolute;
  top: 20%;
  left: 12%;
}

#box2 {
  position: absolute;
  top: 58%;
  left: 12%;
}

#box3 {
  position: absolute;
  top: 12%;
  left: 45%;
}

#box4 {
  position: absolute;
  top: 50%;
  left: 45%;
}
