.design-boxes {
  width: 25%;
}

.design-logo {
  position: absolute;
  top: 10%;
  left: 2%;
  width:17%
}

#box1 {
  position: absolute;
  top: 20%;
  left: 12%;
}

#box2 {
  position: absolute;
  top: 58%;
  left: 12%;
}

#box3 {
  position: absolute;
  top: 12%;
  left: 45%;
}

#box4 {
  position: absolute;
  top: 50%;
  left: 45%;
}

.design-text {
  position: absolute;
  transform: rotate(270deg);
  /*transform-origin: left top 0;*/
}

#taiko {
  top: 70%;
  left: 40%;
}

#bbs {
  font-size: 16px;
  top: 39%;
  left: 6%;
}

#un {
  top: 29%;
  left: 38.5%;
}

#amal {
  top: 76%;
  left: 6%;
}
