.software-boxes {
  width: 35%;
}

#upper-left {
  position: absolute;
  top: 20%;
  left: 9%;
}

#bottom-left {
  position: absolute;
  top: 55%;
  left: 15%;
}

#upper-right {
  position: absolute;
  top: 10%;
  left: 40%;
}

#bottom-right {
  position: absolute;
  top: 55%;
  left: 42%;
}

#heapify {
  position: absolute;
  top: 38%;
  left: 37%;
}

#gutenberg {
  position: absolute;
  top: 13.2%;
  left: 40.3%;
  font-size: 17px;
}

#csmentors {
  position: absolute;
  top: 75%;
  left: 42.3%;
}

#watshout {
  position: absolute;
  top: 59.6%;
  left: 42%;
  font-size: 20px;
}
