.software-boxes {
  width: 35%;
}

#upper-left {
  position: absolute;
  top: 20%;
  left: 9%;
}

#bottom-left {
  position: absolute;
  top: 55%;
  left: 15%;
}

#upper-right {
  position: absolute;
  top: 5%;
  left: 45%;
}

#bottom-right {
  position: absolute;
  top: 40%;
  left: 40%;
}
